<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Model1" connectionString="data source=LAPTOP-1M5E6QBD\MINHCUTE;initial catalog=QLSanpham;persist security info=True;user id=sa;password=28062003;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>